<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header>
      <div class="l-inner"><%- include('./partials/header.ejs') %></div>
    </header>
    <section>
      <div class="l-inner">
        <h2>Welcome</h2>
      
      </div>
    </section>
    <footer>
      <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
    </footer>
  </body>
</html>
