/*akso added start*/
@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  src: url('../font/Helvetica.ttf');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  src: url('../font/Helvetica-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../font/Roboto-Bold.ttf');
}

.clearfix {
  display: block;
  clear: both;
  content: "";
}

/*akso added end*/
body {
  margin: 0 auto;
  background-color: #e0e0e0;
  color: #0f0f0f;
  font-family: 'HelvRetica', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}


.l-inner {
  margin: 0 auto;
  max-width: 100%;
}

/*sidebar*/
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 160px;
  height: 100%;
  padding-top: 20px;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  display: block;
  padding: 6px 8px 6px 16px;
  color: #818181;
  font-size: 18px;
  text-decoration: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}