.petcare-tip-h1,
.petcare-published-h2{
  text-align: center;
  color: #645e5e;
}
.petcare-tip-h1{
  font-size: 40px;
  margin-top: 25px;
}
.petcare-published-h2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.pet-writer-name{
color: #130bb6;
}
.petcare-tip-container{
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  padding:50px 0;
  margin:30px auto;
}
.petcare-tip-container p{
  width: 60%;
  margin: 20px auto;
  color: #645e5e;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.petcare-tip-container h4{
  text-align: center;
  font-size: 22px;
  color: #645e5e;
  margin-top: 50px;
}
.petcare-tips-img{
  margin-left: 40%;
  width: 300px;
  height: 200px;
  margin-top: 50px;
}

/*from pet training tips*/
.cat-training-tips-btn,
.dog-training-tips-btn{
  width: 20%;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #645e5e;
  font-size: 18px;
  margin:20px auto;
  display: block;
  text-align: center;
}

.cat-training-tips-btn:hover,
.dog-training-tips-btn:hover{
 background-color:#645e5e;
 color: #ffffff;
}

iframe{
  width: 60%;
  height: 415px;
  margin: 10px auto;
  text-align: center;
  display: block;
}
h4.side-h4{
  text-align: left;
  margin-left: 20%;
}

.easy-h3{
  color: #e95f15;
  text-align: center;
  width: 60%;
  margin: 50px auto;
  font-size: 28px;
  line-height: 1.3;
}