.donation-main-user{
  background-color: #738e94;
  width: 90%;
  margin: 30px auto;
  padding: 50px 20px;
  border-radius: 10px;
}

.donation-main-user h3{
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.donation-user-request{
  width: 50%;
  margin: 20px auto;
  padding: 30px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  color:#5f5d58;
}
.donation-user-request p{
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #5f5d58;

}
.pet-donation-inquiry{
  text-align: center;
  color: #e9a40e;
  margin-top: 10px;
  font-size: 18px;
}
.contact-us-user{
  padding: 20px 40px;
  color: #5f5d58;
  background-color: #ffffff;
  text-align: center;
  margin: 20px auto;
  width: 30%;
  display: block;
  border-radius: 10px;
}