<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Favorites", token
    }) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="home-sec">
      <div class="l-inner">
        <h2>My Favorite Pet</h2>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
