<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Home", token}) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="home-sec">
      <div class="l-inner">
        <div class="alert-wrapper">
          <%- include('./partials/messages.ejs') %>
        </div>
        <h2>Welcome To Pet Adoption</h2>
      </div>
    </section>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
