<nav>
  <h1>
    <a href="/">LOGO</a>
  </h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/">Login</a></li>
    <li><a href="/">Register</a></li>
  </ul>
</nav>
