<div class="sidenav">
  <a href="/">Home Page</a>
  <a href="/admin/pets">Pet Dashboard</a>
  <a href="/admin/pets/donate-dashboard">Donation Dashboard</a>
  <a href="/admin/pets/article-dashboard">Article Dashboard</a>
  <a href="/admin/pets/create">Pet Form</a>
  <a href="/admin/pets/donate-request">Donation Form</a>
  <a href="/admin/pets/petarticle-create">Pet article Form</a>

</div>