<div class="sidenav">
  <a href="/">Home Page</a>
  <a href="/admin/pets">Dashboard</a>
  <a href="/admin/pets/create">create pet</a>
  <a href="/admin/pets/donate-request">create donation request</a>
  <a href="/admin/pets/donate-dashboard">Donation Dashboard</a>
  <a href="#contact">Contact</a>
</div>