.account-sec {
  padding: 100px 0px;
}

.account-wrapper {
  width: calc(100% - 260px);
  margin-left: 260px;
}

.account-sec .personal-info {
  background-color: var(--background);
  border-radius: 6px;
  width: 96%;
  padding: 20px;
  margin: 0 auto;
}
.personal-info h2 {
  font-size: 24px;
  font-weight: 500;
}

.username-wrapper,
.email-wrapper,
.password-wrapper {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-info h3 {
  font-weight: 500;
}

.personal-info .username,
.personal-info .email,
.personal-info .password {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-info .password h4 span {
  font-size: 20px;
}

.personal-info .username h4,
.personal-info .email h4,
.personal-info .password h4 {
  align-self: center;
  align-items: flex-end;
  font-weight: 500;
}

.personal-info .email-wrapper {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.personal-info .edit a i {
  color: #6d6b6b;
}
.personal-info .edit a i:hover {
  color: var(--btn-color);
  transition: var(--transition);
}
/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .account-wrapper {
    width: calc(100% - 33.854vw);
    margin-left: 28.854vw;
  }
  .account-sec .personal-info {
    border-radius: 0.781vw;
    width: 100%;
    padding: 2.604vw;
  }
  .personal-info h2 {
    font-size: 3.125vw;
    
}
.alert-wrapper {
  padding-top: 2.604vw;
}
.username-wrapper, .email-wrapper, .password-wrapper {
  padding: 2.604vw 1.302vw;
}
}

/*Phone*/
@media screen and (max-width: 768px) {
  .account-sec {
    padding: 13.021vw 0vw;
}
  .account-sec .personal-info {
    width: 96%;
    margin-top: 3.125vw;
  }
  .username-wrapper,
  .email-wrapper,
  .password-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5vw;
  }
  .personal-info .username,
  .personal-info .email,
  .personal-info .password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .account-wrapper {
    width: calc(100% - 28.125vw);
    margin-left: 27.813vw;
    margin-top: 5.844vw;
}

.personal-info h2 {
  font-size: 3.75vw;
}
.personal-info h3 {
  font-size: 2.813vw;
}
.personal-info .username h4, .personal-info .email h4, .personal-info .password h4 {

  font-weight: 500;
  font-size: 2.813vw;
}
}