<div class="l-inner">
    <h1>
      <a href="/">
        <img src="/image/img_logo.png" alt="Pet Adoption" />
        <span> Pet Adoption</span>
      </a>
    </h1>
    <nav>
      <ul class="g-nav">
        <li style="padding-right: 20px;"><a href="/admin">Dashboard</a></li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  