<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Pet Adoption</title>
</head>

<body style="background-color: #882939 !important; padding: 10px; border-radius: 6px; color: #fff;">
  <p style="font-size: 20px; color: #fff !important;">Name: {{name}}
    <p />
     <p style="font-size: 20px; color: #fff !important;">Name: {{email}}
    <p />
  <p style="font-size: 16px;color: #fff !important;">Message: <br /> <span style="padding-top: 6px; font-size: 14px;">
      {{message}}</span></p>
</body>

</html>