.pet-user{
  width: 17%;
  height: 300px;
  margin: 10px 10px;
  display: inline-block;
  position: relative;


}
.pet-user img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
 
}
.pet-user:hover{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pet-user .over{
  width: 100%;
  padding:10px 0;
  display: block;
  background-color: #ffffff;
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bg-pet{
  padding:250px 0;
  background: url("../image/dogs.jpg") no-repeat center/cover;
  
}
.home-user-heading{
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(215, 215, 165), 0 -10px 20px #cec7bf, 0 -18px 40px rgb(202, 130, 130);
}
.home-user-head2{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  color: #ffffff;
}
.home-user-head3{
  text-align: center;
  color:#A020F0 ;
  font-size: 30px;
  margin:85px 0 30px;
  font-weight: lighter;
}
.home-main{
  
  position: relative;
  margin-left: 5%;
  
}
.home-main p{
text-align: center;
color:#A020F0;

font-size: 22px;
margin-top: 8px;
}
.more-container{
  width: 17%;
  border-radius: 10px;
  margin-left: 15px;
  height: 300px;
  background-color: #A020F0;
  position: absolute;
  top:10px;
  display: inline-block;
}


 img.cattto{
  width:50% ;
  display: block;
  margin:25px auto;

}
.catto-link .more-container h3{
  text-align: center;
  color: #ffffff;
}
.pet-link-class{
  text-align: center;
  color: #ffffff;
}

/*planning to adopt a pet*/
.three-list-container{
  background-color: #ffffff;
  margin-top: 40px;
  padding: 50px 0 50px;
}
.three-list-container .planning-h3{
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  color: #645b5b;
  margin:20px 0;
}
.floating-div{
 display: flex;
 justify-content: center;
  align-items: center;
  width: 90%;
  margin: 35px auto;
 text-align: center;
}
.floating-div div{
  width: 25%;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #645b5b;
  
}
.floating-div div .learn-more-btn{
  border: 3px solid #1fcddd;
  border-radius: 25px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 35px;
  color:#A020F0;
  font-weight:bold;

}
.floating-div div .learn-more-btn:hover{
  background-color: #1fcddded;
  color: #ffffff;
}
.floating-div div h3{
  color: #A020F0;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 20px;
}

/*article section*/
.article-section-home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin:70px 0 50px;
}
.article-section-home .dog-article,
.article-section-home .cat-article{
  width: 43%;
  height: 500px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.article-section-home .dog-article img.img-dog-arti-n,
.article-section-home .cat-article img.img-cat-arti-n
{
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.img-dog-arti,
.img-cat-arti{
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border:7px solid #ffffff;
  position: absolute;
  top: 250px;
  left: 40%;
}
.dog-article h3,
.cat-article h3{
  font-size: 20px;
  color:#645b5b;
  text-align: center;
  margin-top: 80px;
}
.dog-article p,
.cat-article p{
  text-align: center;
  color: #645b5b;
  margin-top: 10px;
}
.dog-article a div,
.cat-article a div{
  border-top: 1px solid #a29f9f;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  height: 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #645b5b;
  font-weight: bolder;
}
.dog-article a div:hover,
.cat-article a div:hover{
color: #ffffff;
background-color: #A020F0;
}

.story-con{
  width: 100%;
  height: 450px;
  background: url("../image/st2.jpg") center/cover;
  margin-top: 100px;
}