.pet-detail {
  width: 60%;
  margin: 20px auto;
  margin-top: 30px;
  text-align: center;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
}

.pet-detail img {
  width: 50%;
  height: 400px;
}
.pet-detail p{
  color: #6e6464;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 18px;
}

.pet-detail h2 {
  font-size: 25px;
  margin: 10px 0;
}

.pet-delete-form,
.pet-update-form {
  display: inline-block;
  margin-left: 20px;
}

.btn-pet-delete,
.btn-pet-update {
  margin-top: 5px;
  padding: 12px 18px;

  border: none;
  color: #ffffff;
  border-radius: 5px;

}

.btn-pet-delete {
  background-color: #d10909;
}

.btn-pet-update {
  background-color: #91ab27;
}


.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}