
/*code added by akso start here*/
h2{
  text-align: center;
}
.pet {
  width: 20%;
  display: inline-block;
  margin-right: 20px;
}
.pet img{
  width: 100%;
}
.pet p{
  width: 100%;
  text-align: center;

}
img{
  width: 200px;
  height: 200px;
}
.pet-form,
.pet-update-form-2,
.donation-form{
  background-color: #ffffff;
  padding: 50px 30px;
  border-radius: 10px;
  margin-left: 250px;
  margin-top: 40px;
  width: 80%;
}

.pet-form input,
.pet-update-form-2 input,
.donation-form input,
.pet-form textarea,
.pet-update-form-2 textarea,
.donation-form textarea,
.pet-form select,
.pet-update-form-2 select,
.donation-form select
{
width: 60%;
margin:1px auto;
padding:10px;
display: block;
}
.pet-form input[type="file"]{
  padding: 0;
}
.pet-form button,
.pet-update-form-2 button,
.donation-form button{
  width: 15%;
  margin-left: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #938a8a;
}

.pet-form label,
.pet-update-form-2 label,
.donation-form label{
  margin-left: 20%;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
}
.error{
  margin: 10px 4px;
  margin-left: 20%;
  font-size: 13px;
  color: #e00909;
}
.needed{
  margin: 10px 4px;
  margin-left: 20%;
  font-size: 13px;
  color: #e00909;
}
.white-bg-con{
  background-color:#ffffff;
  width: 80%;
  padding: 50px 0px;
  display: block;
  margin-left: 17%;
  margin-top: 30px;
  border-radius: 10px;
}

.admin-form-title{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.img-update-pet-form{
  width: 70px;
  height: 70px;
  margin-left: 20%;

}
input.fileField{
  padding: 0;
}
#image[src=""] {
  display: none;
}
/*end here*/


section {
  height: 80vh;
  margin-top: 20px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
