.admin {
  width: 98%;
  padding: 20px;
  margin: 0 auto;
}

.admin h2 {
  font-size: 24px;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 30px;
}

.admin .card-count {
  width: 23%;
  padding: 20px;
  background-color: var(--background);
  border-radius: 6px;
  text-align: center;
}

.admin .card-count h3 {
  padding-bottom: 10px;
  color: var(--btn-color);
}
.table-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.dataTables_length{
  padding-bottom: 20px;
}

.table-title a{
  padding: 10px 30px;
  background-color: var(--success-color);
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
}

.pet-tbl-wrapper{
  padding-top: 10px;
}


.pet-tbl-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--background);
  display: table;
}
th,
td {
  text-align: center;
  padding: 8px;
}

tr th {
  background-color: var(--background);
  text-align: center !important;
}

tr:nth-child(even) {
  background-color: var(--background) !important;
}

tr td {
  display: table-cell;
  vertical-align: middle;
}

tr td img {
  width: 60px;
  height: 60px;
}

.pet-tbl-wrapper tr td form button{
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.pet-tbl-wrapper tr td form button.btn-update{
  background-color: var(--success-color);
}

.pet-tbl-wrapper tr td form button.btn-delete{
  background-color: var(--error-color);
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .card-wrapper {
    flex-direction: column;
    gap:1.302vw;
    padding: 2.604vw 0 3.906vw;
}
  .admin {
    width: 100%;
    padding: 0vw;
}
  .admin h2 {
    font-size: 3.125vw;
    text-align: center;
}
.admin .card-count {
  padding: 2.604vw;
  border-radius: 0.781vw;
  width: 80%;
}
.admin .card-count h3 {
  padding-bottom: 1.302vw;
  font-size: 2.044vw;
}
.table-title {
  padding-bottom: 1.302vw;
}

.pet-tbl-wrapper {
  padding-top: 1.302vw;
  overflow-x: none;
}
}

/*Phone*/
@media screen and (max-width: 768px) {
  .admin h2 {
    font-size: 3.75vw;
}
.card-wrapper {
  flex-direction: column;
  gap: 1.563vw;
  padding: 3.125vw 0 4.688vw;
}
.admin .card-count {
  width: 89%;
  padding: 3.125vw;
  border-radius: 0.938vw;
}
.table-title a {
  font-size: 1.813vw;
  padding: 1.563vw 4.688vw;
  border-radius: 0.938vw;
}
}