<div class="l-inner">
  <div class="footer-menu">
    <div class="footer-logo">
      <img src="/image/img_logo.png" alt="Pet Adoption" />
      <h2>Pet Adoption</h2>
    </div>
    <div class="footer-link">
      <ul>
        <h3>Pet Adoption</h3>
        <li><a href="/">Home</a></li>
        <li><a href="/pets">Pet</a></li>
        <li><a href="/donation-requests">Donation</a></li>
        <li><a href="/adoption-list">Adoption List</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
    <div class="social-media">
      <h3>Follow Us</h3>
      <ul>
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://www.twitter.com/" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copy-right">
    <h3>Developed By BIB NodeJS Tranee Team</h3>
    <p>&copy; <%= new Date().getFullYear() %> - All Right Reserved.</p>
  </div>
</div>
