<div class="l-inner">
  <h1>
    <a href="/">
      <img src="/image/img_logo.png" alt="Pet Adoption" />
      <span> Pet Adoption</span>
    </a>
  </h1>
  <nav>
    <ul class="g-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/pets">Pet</a></li>
      <li class="account">
        Training &dtrif;
        <ul class="drop">
          <div>
            <li><a href="/training-tips/dog-training-tips">Dog Training</a></li>
            <li>
              <a href="/training-tips/cat-training-tips">Cat Training</a>
            </li>
          </div>
        </ul>
      </li>
      <li><a href="/donation-requests">Donation</a></li>
      <% if (typeof token !== 'undefined') { %>
      <li class="account">
        <%= user.email %>  &dtrif;
        <ul class="drop">
          <div>
            <li><a href="/personal-info">Manage Account</a></li>
            <li>
              <form action="/logout" method="post">
                <input type="submit" value="Logout" />
              </form>
            </li>
          </div>
        </ul>
      </li>
      <li class="favorite">
        <a href="/favorites">
          <% if (typeof favorites !== 'undefined') { %>
          <i class="fa-solid fa-heart"></i>
          <% } else{%>
          <i class="fa-regular fa-heart"></i>
          <% } %>
        </a>
        <span class="tooltiptext">My Favorite</span>
      </li>
      <% } else{ %>
      <li class="account">
        Account &dtrif;
        <ul class="drop">
          <div>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </div>
        </ul>
      </li>
      <% } %>
    </ul>
  </nav>
  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
