<% if (typeof errors !="undefined" ) { %>
<% errors.forEach(error=> { %>
<p class="error">
  <%= error.message %>
</p>
<% }) %>
<% } %>
<% if (success !=='' ) { %>
<p class="success">
  <%= success %>
</p>
<% } %>
<% if (error !=='' ) { %>
<p class="error">
  <%= error %>
</p>
<% } %>