<div class="side-bar">
  <a href="/personal-info">Personal Info</a>
  <a href="/adoption-form">Adoption Table</a>
   <a href="/setting">Setting</a>
  <form action="/logout" method="post">
    <input class="logout" type="submit" value="Logout" />
  </form>
</div>
