<div class="side-bar">
  <a href="/personal-info">Personal Info</a>
  <a href="/setting">Setting</a>
  <% if (user.isAdmin) { %>
  <a href="/admin">Dashboard</a>
  <button class="dropdown-btn">Pet
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/admin/pets/create">Create Pet</a>
    <a href="/admin/pet-table">Pet Table</a>
  </div>

  <button class="dropdown-btn">Article
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/admin/pet-article/create">Create Article</a>
    <a href="/admin/article-table">Article Table</a>
  </div>
  <button class="dropdown-btn">Donation
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/admin/donate-request/create">Create Donation</a>
    <a href="/admin/donation-table">Donation Table</a>
  </div>
 
  <% } %>
  <form action="/logout" method="post">
    <input type="submit" value="Logout" />
  </form>
</div>
