<a href="/training-tips/cat-training-tips" id="link-one" class="cat-training-tips-btn common-link">
  Cat training tips
</a>
<a href="/training-tips/dog-training-tips" id="link-two" class="dog-training-tips-btn common-link">
  Dog training tips
</a>
