<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title ? title : "Pet Adoption" %></title>
<link rel="stylesheet" href="/js/library/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/fontawesom/css/all.min.css" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/personal-info.css" />
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/setting.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/pet-detail.css">
<link rel="stylesheet" href="/css/request-donation-user.css">
<link rel="stylesheet" href="/css/articles.css">
<link rel="stylesheet" href="/css/petcare-tips.css">
<link rel="stylesheet" href="/css/pet-form.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/slick.css">

