<% if (typeof errors !="undefined" ) { %> <% errors.forEach(error=> { %>
<div class="alert-message">
  <span class="closebtn">&times;</span>
  <strong> <%= error.message %></strong>
</div>
<% }) %> <% } %>
 <% if (success.length > 0) { %>
<div class="alert-message alert-success">
  <span class="closebtn">&times;</span>
  <strong> <%= success %></strong>
</div>
<% } %> <% if (error.length > 0) { %>
<div class="alert-message">
  <span class="closebtn">&times;</span>
  <strong><%= error %></strong>
</div>
<% } %>