<div class="side-bar">
  <a href="/personal-info">Personal Info</a>
  <a href="/setting">Setting</a>
  <form action="/logout" method="post">
    <input type="submit" value="Logout" />
  </form>
</div>
