footer {
  background-color: var(--btn-color);
  margin: 0 auto;
}
.footer-menu {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer h2 {
  font-size: 24px;
  color: #fff;
}

.footer-logo img {
  width: 80px;
  color: #fff !important;
}

.social-media h3,
.footer-link ul h3 {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-link ul li a {
  font-size: 16px;
  color: #fff;
}

.social-media ul {
  display: flex;
  flex-direction: row;
}

.social-media a i {
  font-size: 24px;
  color: #fff;
  padding: 20px 10px;
}

.copy-right {
  background-color: var(--btn-hover);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.copy-right h3 {
  color: #fff;
}
.copy-right p {
  color: #fff;
}

/*Added for responsive*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .footer-menu {
    flex-direction: column;
    gap: 5.208vw;
  }
  .footer-link ul {
    gap: 2.604vw;
}
  .footer-logo img {
    width: 10.417vw;
}
footer h2 {
  font-size: 3.125vw;
}
.social-media h3, .footer-link ul h3,.copy-right h3 {
  font-size: 2.604vw;
}
.social-media a i {
  font-size: 3.125vw;
  padding: 2.604vw 1.302vw;
}
.copy-right {
 
  padding: 2.604vw;
  font-size: 2.083vw;
  gap: 2.604vw;
}
}


/*Phone*/
@media screen and (max-width: 768px) {
  .footer-menu {
    flex-direction: column;
    gap: 40px;
  }
}
