
.pet-detail-ucon{
    background-color: #000000;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .pet-detail-ucon img{
    width: 500px;
    height: 100%;
    margin: 0 auto;
  }
  
  .pet-detail-context{
    background-color: #ffffff;
    width: 55%;
    padding: 30px 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
    
  }
  .pet-detail-context h3{
    font-size: 30px;
    color: #6a6363;
    font-weight: lighter;
    padding-bottom: 10px;
    letter-spacing: 1.3px;
   
  }
  .pet-detail-context h4{
    border-bottom: 1px solid #6a6363;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #6a6363;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1.3px;
  }
  
  .pet-detail-context h4.about-h4{
    font-size: 25px;
    border-bottom: none;
    padding-bottom: 15px;
    letter-spacing: 1.3px;
  }
  .pet-detail-context p{
    font-size: 17px;
    color: #6a6363;
    letter-spacing: 1.3px;
  }
  
  .pet-contact-info{
    padding: 30px 20px;
    background-color:#ffffff;
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    position: relative;
  }
  .pet-contact-info h3{
    padding-top: 86px;
    color:#A020F0;
    margin-top: 85px;
    font-size: 20px;
    text-align: center;
  }
  .pet-contact-info .img-rounded-pet{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top:25px;
    left: 35%;
  }
  .mail-img{
    width: 30px;
    height: 30px;
  
  }
  .adopt-text,.adopt-text-two{
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    color: #6a6363;
    position: absolute;
   
    
  }
  .adopt-text{
    top: 242px;
  }
  .adopt-text-two{
    top:308px;
  }
  .mail-link,.ph-link{
    margin-top: 12px;
    display: block;
  }
  
  .mail-link p{
    padding-bottom: 20px;
    border-bottom: 1px solid #6a6363;
  
  }
  
  
/*Added for responsive*/
/*Ipad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .pet-detail-ucon {
    height: 500px;
    margin-top: 40px;
}
.pet-detail-ucon img {
  width: 500px;
}
.pet-detail-context {
  background-color: #ffffff;
  width: 85%;
  padding: 30px 20px;
  margin: 40px auto;
  display: block;
  border-radius: 10px;
}
.pet-detail-context h3 {
  font-size: 30px;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}
.pet-detail-context h4 {
  border-bottom: 1px solid #6a6363;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 1.3px;
}
.pet-detail-context p {
  font-size: 17px;
  letter-spacing: 1.3px;
}
.pet-contact-info {
  padding: 30px 20px;
  width: 85%;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
.pet-contact-info .img-rounded-pet {
  width: 130px;
  height: 130px;
  top: 25px;
  left: 38%;
}
.pet-contact-info h3 {
  padding-top: 86px;
  margin-top: 85px;
  font-size: 20px;
}
.mail-link, .ph-link {
  margin-top: 12px;
}
.mail-link p,
.ph-link p {
  padding-bottom: 20px;
  text-align: center;
  border-bottom:none;
  margin-left: -250px;
  margin-top: 30px;
}
.mail-img {
  width: 30px;
  height: 30px;
}
.adopt-text, .adopt-text-two {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  color: #6a6363;
  position: absolute;
}
.adopt-text {
  top: 258px;
  border: none;
}
.adopt-text-two {
  top: 342px;
}
}

/*Phone*/
@media screen and (max-width:767.9px) {
.home-sec {
  padding: 4.688vw 0 6.25vw;
 
}
.pet-detail-ucon {
  height: 78.125vw;
  margin-top: 6.25vw;
}
.pet-detail-context {
  width: 90%;
  display: block;
  padding: 4.688vw 3.125vw;
  margin: 7.813vw auto;
  border-radius: 1.563vw;
}

.pet-detail-context h3 {
  font-size: 6.906vw;
  padding-bottom: 1.563vw;
  letter-spacing: 0.203vw;
}
.pet-detail-context h4 {
  border-bottom: 0.156vw solid #6a6363;
  padding-bottom: 3.125vw;
  padding-top: 3.125vw;
  font-size: 4.125vw;
  letter-spacing: 0.203vw;
}
.pet-detail-context h4.about-h4 {
  font-size: 5.906vw;
  padding-bottom: 2.344vw;
  letter-spacing: 0.203vw;
}
.pet-detail-context p {
  font-size: 4.525vw;
  letter-spacing: 0.203vw;
}
.pet-contact-info {
  padding: 4.688vw 3.125vw;
  width: 90%;
  display: block;
  border-radius: 1.563vw;
  margin: 0.625vw auto;
  
}
.pet-contact-info .img-rounded-pet {
  width: 28.313vw;
  height: 28.313vw;
  top: 3.906vw;
  left: 35%;
}
.pet-contact-info h3 {
  padding-top: 13.438vw;
  margin-top: 18.281vw;
  font-size: 5.125vw;
}
.mail-link, .ph-link {
  margin-top: 1.875vw;
 
}
.mail-link p {
  padding-bottom: 3.125vw;
  border-bottom: 0.156vw;
  text-align: center;
  margin-top: 3.125vw;
  margin-left: -40.25vw;
}
.ph-link p{
  text-align: center;
  margin-top: 3.125vw;
  margin-left: -40.25vw;
}

.mail-img {
  width: 6.688vw;
  height: 6.688vw;
}
.adopt-text {
 
  font-size: 4.125vw;
  top: 46.463vw;
}
.adopt-text-two {
  top: 59.813vw;
  font-size: 4.125vw;
  
}
}