<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Forgot Password"
    }) %>
  </head>

  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="auth-sec">
      <div class="l-inner">
        <h2>Forgot Password</h2>
        <%- include('./partials/messages.ejs') %>
        <form action="/forgot-password" method="post">
          <input type="email" id="email" name="email" placeholder="Email" />

          <input class="btn btn-login" type="Submit" value="Submit" />
        </form>
        <div class="form-text">
          <p></p>
          <p>Back to <a href="/">Home</a></p>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
