<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Not Found" }) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="not-found">
      <h2><%= error %></h2>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
