<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <header>
    <div class="l-inner"><%- include('./partials/header.ejs') %></div>
  </header>
  <div class="petcare-tip-container">
  <h1 class="petcare-tip-h1">10 Responsible Pet Care Tips</h1>
  <h3 class="petcare-published-h2">PUBLISHED BY <span class="pet-writer-name">CHRISTINE O'BRIEN</span></h3>
    <p>As a pet parent you want to do everything you can to care for your pet; this involves regular, everyday activities to ensure they stay happy and healthy. Practice these ten responsible
       pet care tips year after year for a lifetime of happy and healthy cats and dogs.</p>
    <h4>1. Veterinarian Visits</h4>
    <p>
      Responsible pet ownership starts with regular visits to the veterinarian. 
      Given their shorter-than-human lifespan, your dog or cat should be getting a checkup at least once or twice a year. Depending on your pet's vaccination schedule, they may go more frequently when they're young, but establishing
       and maintaining good pet health means keeping up with vet visits as they age.
    </p>
    <p>
      Trips to the vet can be, shall we say, challenging. Cats, in particular, may be averse to leaving the comfy confines of their home, but there are ways to reduce stress for both of you. Acclimating your cat to her carrier when she is a kitten is good practice (and avoids the running-away-and-hiding-under-the-bed scenario). Dogs tend to like going for car rides. Take your pup on joyrides, so he won't associate getting into the car with going to the vet. And many pets don't mind a trip to the veterinarian's office, 
      especially if you choose a vet that's a good fit for your little friend.
    </p>

    <h4>
      2. Vaccinations
    </h4>
    <p>
      Vaccinating your pets is a vital component of responsible pet care. 
      Soon after welcoming your new pet into your home, schedule an immunization appointment. During your first visit, the vet will set up an immunization schedule for your little pup or kitten to protect them from illness and disease. Vaccinations for puppies should happen early in your puppies first few weeks after you bring him home. Talk to your vet at your first appointment, on when a good time to schedule that visit. They help prevent diseases such as rabies, Lyme disease, and distemper. Cats benefit from vaccines that prevent feline herpes virus, feline leukemia, and rabies. If you've adopted an adult or senior animal, make sure
       they are immunized, too. Vaccinations do need renewal and aren't just for young pets.
    </p>
  </div>
  <footer>
    <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
  </footer>
  
</body>
</html>