<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <header>
    <div class="l-inner"><%- include('./partials/header.ejs') %></div>
  </header>
  <div class="cat-tip-container">
    <%- include('./partials/training-tip.ejs') %>
  </div>
  <div class="petcare-tip-container">
    <h1 class="petcare-tip-h1">Top 10 Dog Training Tips</h1>
    <h3 class="petcare-published-h2">Written by<span class="pet-writer-name"> Small Door's medical experts</span></h3>

    <p>
      One of the most important and rewarding things you can do as a pet parent is to train your dog well, but it’s often hard to know how to get started. Since January is national Train 
      Your Dog Month, we thought we’d share some handy tips to help you and your pup get going.
    </p>
    <iframe  src="https://www.youtube.com/embed/1oDGa2yPb2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h4 class="side-h4">1. Use positive reinforcement techniques</h4>
    <p>
      Almost all vets agree that positive reinforcement training is the most effective method of dog training. Positive reinforcement training essentially
       focuses on rewarding your pet for good behavior, rather than punishing bad behavior.
    </p>
    <p>
      Whenever your dog demonstrates good behavior and responds positively to your commands, reward them! By rewarding good behavior, 
      you’re reinforcing the association between good behavior and good things.
    </p>
    <p>
      It’s also important to make sure you’re not inadvertently rewarding unwanted behavior. For example, if your dog barks at you to play or jumps up to say hello, don’t acknowledge it or give in, as this just reinforces
       the bad behavior. Instead, wait until they’re calmer before giving them attention.
    </p>

    <h4 class="side-h4">2. Find the right reward.</h4>
    <p>
      Some dogs are food-motivated, and will respond very enthusiastically to any sort of edible treat as a reward. Others are pickier: often, soft, chewy treats are preferred to hard, crunchy ones.

Some dogs, however, just aren’t that interested in food at all. If this is the case with your pup, try experimenting with other rewards, like a quick play session with a favorite toy, or even just plenty of affection.
    </p>

    <h4 class="side-h4">3. Consistency is key.</h4>
    <p>
      Being consistent in your training is incredibly important. This includes consistency in how you’re training your dog—for example, always using the same word,
       and even the same kind of intonation, when asking them to do something.
    </p>
    <p>
      Equally important is for everyone in your household to be on the same page. Dogs need consistency to learn new habits, so if you 
      never let the dog on the couch, but your partner does, your pup will just end up confused.
    </p>
    <iframe  src="https://www.youtube.com/embed/OvdKDE326gs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h4 class="side-h4">4. Train little and often.</h4>
    <p>
      Short training sessions repeated throughout the day are much more effective than longer ones. The American Kennel Club recommends keeping sessions
       to five minutes maximum; any longer and your dog may become distracted or frustrated.
    </p>
    <p>
      Dogs also often struggle to generalize commands to other places or situations (i.e., understanding that asking for a “sit” at home is the same thing as a “sit” on a busy street), so it’s useful to repeat your training sessions in multiple locations, with different people and with varying levels of distraction,
       so that your pup learns to respond correctly to the same command all the time.
    </p>

    <h4 class="side-h4">5. Build up in stages.</h4>
    <p>
      Starting small can be helpful, particularly when it comes to more complex behaviors like “stay,” or with behavior modification (when you’re trying to get rid of unwanted behavior).

Try breaking behaviors down into smaller parts. For example, in the beginning, if you’re training “come,” praise and reward your dog when they take even one step towards you. It’s much easier to add on steps and build up to the whole behavior once your pup starts to get the hang of it.
    </p>

    <h4 class="side-h4">6. Make it fun.</h4>
    <p>
      Training should be fun, both for you and your dog! Always keep it positive, and try mixing things up to keep it interesting,
       such as incorporating short play sessions into your training in between repetitions.
    </p>
    <p>
      You could also consider training your dog to do tricks in addition to regular obedience training. As humans, we naturally respond more enthusiastically to seeing a dog rolling over than we will to a plain
       old sit—our dogs pick up on that enthusiasm and end up loving to perform tricks for us!
    </p>

    <h3 class="easy-h3">
      It’s easy to get caught up in the end goal of training, but remember to praise your dog for any small improvement.
    </h3>

    <h4 class="side-h4">7. Praise the small things.</h4>
    <p>
      Remember to always praise your dog for any improvement, no matter how small. It’s easy to get caught up in the end goal of training, but celebrating the
       little wins is just as important, and will help keep both you and your dog motivated.
    </p>

    <h4 class="side-h4">8. Work training into daily life.</h4>
    <p>
      By making training part of your usual pet routine, it’s a lot easier to fit in many small sessions. For example, ask your dog to sit or respond to another
       command before you give them their dinner, take them out for a walk, or play with them.
    </p>
    <iframe  src="https://www.youtube.com/embed/qNtwkSVr2Pw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h4 class="side-h4">9. Use your hands.</h4>
    <p>
      Much as we’d wish they could, dogs can’t understand language the same way we do. Many dogs respond better to hand signals than verbal commands, so try combining
       the two, or even begin with only hand signals and add the verbal command later.
    </p>

    <h4 class="side-h4">10. Consult a dog trainer or attend a training class.</h4>
    <p>
      If you’re struggling, don’t hesitate to contact a professional dog trainer or join a training class. Generally one of the fastest ways to get results, professional trainers have years of knowledge they can use to help you and your pup. They will have experienced many different types of problems in their
       career, so they should have ideas on how to address any issues you may be facing.
    </p>
    <p>
      When choosing a trainer, take your time to do a little research. Make sure they use positive reinforcement techniques,
       and read plenty of reviews or get references if you can.
    </p>
    <h4>Thanks for reading .. Adopt one , Save one</h4>
  </div>

  <footer>
    <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
  </footer>
</body>
</html>