<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs', {title: "Pet Adoption | About us",
  token}) %>
</head>
<body>
  <header>
    <div class="inner"><%- include('./partials/header.ejs') %></div>
  </header>
  <div class="contact-us-banner">
    <div class="contact-inner-con">
      <h1>About Pet Adoption</h1>
      <p>
        Pet Adoption is an online, searchable database of animals who need homes. It is also a directory of many adoptable pets  across the country
      </p>
    </div>
    
  </div>
  <footer>
    <%- include('./partials/footer.ejs')  %> 
  </footer>
  
</body>
</html>