<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Login" }) %>
  </head>

  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="auth-sec">
      <div class="l-inner">
        <h2>Login</h2>
        <div class="alert-wrapper">
          <%- include('./partials/messages.ejs') %>
        </div>
        <form action="/login" method="post">
          <input type="email" id="email" name="email" placeholder="Email" />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
          <div class="show-pass">
            <input type="checkbox" id="show-password" />
            <span>Show Password</span>
          </div>
          <input class="btn btn-login" type="Submit" value="Login" />
        </form>
        <div class="form-text">
          <p><a href="/forgot-password">Forgot password?</a></p>
          <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
