<div class="l-inner">
  <h1><a href="/">LOGO</a></h1>
  <nav>
    <ul class="g-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/all-pets">Pet</a></li>
      <% if (typeof token !== 'undefined') { %>
      <li class="account">
        Account &dtrif;
        <ul class="drop">
          <div>
            <li><a href="/manage-account">Manage Account</a></li>
            <li>
              <form action="/logout" method="post">
                <input type="submit" value="Logout" />
              </form>
            </li>
          </div>
        </ul>
      </li>
      <li class="favorite">
        <a href="/favorites"><i class="fa-solid fa-heart"></i></a>
        <span class="tooltiptext">My Favorite</span>
      </li>
      <% } else{ %>
      <li class="account">
        Account &dtrif;
        <ul class="drop">
          <div>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </div>
        </ul>
      </li>
      <% } %>
    </ul>
  </nav>
  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
