.pet-detail-ucon {
  background-color: #000000;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.pet-detail-ucon img {
  width: 500px;
  height: 100%;
  margin: 0 auto;
}

.pet-detail-context {
  background-color: #ffffff;
  width: 55%;
  padding: 10px 20px 30px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 50px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 20px;
}
.pet-detail-context h3 {
  font-size: 30px;
  color: #6a6363;
  font-weight: lighter;
  padding-bottom: 10px;
  letter-spacing: 1.3px;
}
.pet-detail-context h4 {
  border-bottom: 1px solid #6a6363;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #6a6363;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.pet-detail-context h4.about-h4 {
  font-size: 25px;
  border-bottom: none;
  padding-bottom: 15px;
  letter-spacing: 1.3px;
}
.pet-detail-context p {
  font-size: 17px;
  color: #6a6363;
  letter-spacing: 1.3px;
}

.pet-contact-info {
  padding: 30px 20px;
  background-color: #ffffff;
  width: 30%;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}
.pet-contact-info h3 {
  padding-top: 86px;
  color: #a020f0;
  margin-top: 85px;
  font-size: 20px;
  text-align: center;
}
.pet-contact-info .img-rounded-pet {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 35%;
}
.mail-img {
  width: 30px;
  height: 30px;
}
.adopt-text,
.adopt-text-two {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  color: #6a6363;
  position: absolute;
}
.adopt-text {
  top: 242px;
}
.adopt-text-two {
  top: 308px;
}
.mail-link,
.ph-link {
  margin-top: 12px;
  display: block;
}

.mail-link p {
  padding-bottom: 20px;
  border-bottom: 1px solid #6a6363;
}

/* Fav Icon */
.fav-icon {
  padding-bottom: 20px;
}

.fav-icon i {
  font-size: 30px;
}
