.pet-form-wrapper {
  background-color: var(--background);
  border-radius: 6px;
  width: 96%;
  padding: 20px;
  margin: 0 auto;
}
.pet-form-wrapper h2 {
  font-size: 24px;
  padding-bottom: 30px;
}
.pet-form-wrapper form {
  width: 100%;
}
.img-update-pet-form {
  width: 240px;
  height: 200px;
  margin-bottom: 20px;
}
#image[src=""] {
  display: none;
}
.pet-form-wrapper form .input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #f0ecec;
  border: 1px solid #808080;
  font-size: 16px;
}
.pet-form-wrapper form .input:focus {
  outline: none;
  border: 1px solid var(--btn-color);
  transition: var(--transition);
}

.pet-form-wrapper form select {
  width: 100%;
  padding: 4px;
  border-radius: 6px;
  background-color: #f0ecec;
  border: 1px solid #808080;
}

.pet-form-wrapper form select:focus {
  outline: none;
  border: 1px solid var(--btn-color);
  transition: var(--transition);
}

.pet-form-wrapper form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #f0ecec;
  border: 1px solid #808080;
  font-size: 16px;
}

.pet-form-wrapper form textarea:focus {
  outline: none;
  border: 1px solid var(--btn-color);
  transition: var(--transition);
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .pet-form-wrapper h2 {
    font-size: 3.125vw;
    padding-bottom: 3.906vw;
}
.pet-form-wrapper {
 
  border-radius: 0.781vw;
  width: 99%;
  padding: 2.604vw;
}


.img-update-pet-form {
    width: 27.25vw;
    height: 23.042vw;
    margin-bottom: 2.604vw;
}


.pet-form-wrapper form .input {
    padding: 1.302vw;
    border-radius: 0.781vw;
    border: 0.13vw solid #808080;
    font-size: 2.083vw;
}
.pet-form-wrapper form select {
  padding: 0.521vw;
  border-radius: 0.781vw;
  border: 0.13vw solid #808080;
}
.pet-form-wrapper form textarea {
  padding: 1.302vw;
  border-radius: 0.781vw;
  border: 0.13vw solid #808080;
  font-size: 2.083vw;
}
}

/*Phone*/
@media screen and (max-width: 768px) {
  .pet-form-wrapper h2 {
    font-size: 3.75vw;
    padding-bottom: 4.688vw;
}

.img-update-pet-form {
  width: 37.5vw;
  height: 31.25vw;
  margin-bottom: 3.125vw;
}
.pet-form-wrapper form .input {
  width: 100%;
  padding: 1.563vw;
  border-radius: 0.938vw;
  border: 0.156vw solid #808080;
  font-size: 2.5vw;
}
.pet-form-wrapper form select {
  padding: 0.625vw;
  border-radius: 0.938vw;
  border: 0.156vw solid #808080;
  font-size: 2.5vw;
}
.pet-form-wrapper form textarea {
  padding: 1.563vw;
  border-radius: 0.938vw;
  border: 0.156vw solid #808080;
  font-size: 2.5vw;
}
}